body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  text-transform: capitalize;
}
.orange-color{
  color: orange;
}
.flexible-container{
  display: flex;
  margin-bottom: 100px;
}

.half-width{
  width: 30%;
  margin-left: 10%;
  
}

.half-width img{
  width: 400px;
  padding-left: 5%;

}

.link-button{
  text-decoration: none;
  background-image: linear-gradient(orange,tomato);
  padding:10px 40px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}
.top-banner{
  background-image: url('../image/top-banner.png');
  background-repeat: no-repeat;
  
}
.dream-big{
  background-image: url('../image/dream-bg.png');
  background-repeat: no-repeat;
  background-position: right;
}
.experience-area{
  background-image: url('../image/exp-bg.png');
  background-repeat: no-repeat;
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 20px;
}

#pro-part{
  box-shadow: 10px 10px 40px   gray  ;
  border-left: 7px solid;
  border-image: linear-gradient(#f6b73c, #4d9f0c) 30;

}  

#baby-part{
  box-shadow: 10px 10px 40px   gray  ;
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan) 30;

}


